
            <div class="footer-container">
                <footer class="wrapper footer-wrapper">
                    <section class="vertical">
                    	<p class="inner">Powered and Designed By Andycall</p>
                    	<pre>Friends: <span><a href="http://www.xiangyifight.com">XiangYi</a></span> | <span><a href="http://zeroling.com">ZeroLing</a></span> | <span><a href="http://ricter.info/">Ricter</a></span> | <span><a href="http://ejohn.org/">John Resig</a></span> | <span><a href="http://cnodejs.org/">CNode</a></span> | <span><a href="http://www.alloyteam.com/">AlloyTeam</a></span> | <span><a href="http://ued.taobao.org/blog/">Taobao UED</a></span> | <span><a href="http://www.nczonline.net/">Nicholas C. Zakas</a></span> </pre>
                    </section>
                    
                </footer>
            </div>
        </div>
        <nav class="outer-nav left vertical">
                <a href="/" class="icon-home">Home</a>
                <a href="/Develope" class="icon-news">Front-End-Developer</a>
        </nav>
</div>
<!-- 
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
 -->
<script src="<%= site %>/javascripts/modernizr.custom.25376.js"></script>
<script src="<%= site %>/javascripts/classie.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/cookie.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/ajax.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/menu.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/form.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff7801fad07862b1d5327ff8cb2454cdc' type='text/javascript'%3E%3C/script%3E"));
 </script>
<script type="text/javascript" src="<%= site %>/javascripts/slider.js"></script>
<script type="text/javascript">
// var main = document.querySelector('.main');
// main.style.right = "0";
// var scroll = 0;
//  convertToArray(document.querySelectorAll('.turn_right')).forEach(function(value){
//         value.onclick = function(){
//         main.style.right = "100%";
//         var scroll = scrollY();
//         window.scroll(0);
//     }   
// });
//  document.querySelector('.turn_left').onclick = function(){
//     main.style.right = "0";
//  }

</script>
</body>
</html>