<% include header %>

<div class="main-container">
  <div class="main wrapper clearfix">
  		<article>
            	<% docs.forEach(function(doc){ %>
                    <section class="post-section">
                        <div class="post-header">
                            <h2 class="post-title"><a href="/<%= doc.name %>/<%= doc.time.day %>/<%= doc.title %>"><%= doc.title %></a></h2>
                            <div class="post-details">
                                <i class="fa fa-user"></i>
                                <%= doc.name %> |
                                <i class="fa fa-calendar"></i>
                                <%= doc.time.day %> | 
                                <i class="fa fa-tag"></i>
                                未分类 | 
                                <i class="fa fa-comment-o"></i>
                                1 评论
                            </div>
                        </div>
                        <%- doc.summary %>
                    </section>
                <% }); %>
                </article>
               <% include aside %>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
<% include page %>
<% include footer %>