<% include admin_head %>
<main role="main" id="main">
    <aside id="notifications" class="notifications">
    </aside>
    <section class="content-view-container">
        <section class="content-list js-content-list">
            <header class="floatingheader">
                <section class="content-filter">
                    <small>
                        All Posts
                    </small>
                    
                </section>
            </header>
            <section class="content-list-content">
                <ol>
                <% docs.forEach(function(doc,index){ %>
                    <% if(index == 0){ %>
                        <li class="active content-list-list">
                    <% }else { %>
                        <li class="content-list-list">
                    <% } %>
                        <a class="permalink" href="#" title="Edit this post">
                            <h3 class="entry-title">
                                <%= doc.title %>
                            </h3>
                            <section class="entry-meta">
                                <span class="status">
                                    <time datetime="<%= doc.time.day %>" class="date published">
                                <%= doc.time.day %>
                                    </time>
                                </span>
                            </section>
                        </a>
                    </li>
                <% }); %>
                </ol>
            </section>
        </section>
        <section class="content-preview js-content-preview">
            <header class="floatingheader">
                <button class="button-back" href="#">
                    Back
                </button>
                <a class="unfeatured" href="#" title="Feature this post">
                    <span class="hidden">
                        Star
                    </span>
                </a>
                <small>
                    <span class="status">
                        Published
                    </span>
                    <span class="normal">
                        by
                    </span>
                    <span class="author">
                        <%= user.username %>
                    </span>
                </small>
                <section class="post-controls">
                    <a class="post-edit" href="/edit/<%= user.username %>/<%= docs[0].time.day %>/<%= docs[0].title %>" title="Edit Post">
                        <span class="hidden">
                            Edit Post
                        </span>
                    </a>
                    <a class="post-settings" href="#" data-toggle=".post-settings-menu" title="Post Settings">
                        <span class="hidden">
                            Post Settings
                        </span>
                    </a>
                    <div class="post-settings-menu menu-drop-right overlay" style="display:none;">
                        <form>
                            <table class="plain">
                                <tbody>

                                    <tr class="post-setting">
                                        <td class="post-setting-label">
                                            <label for="pub-date">
                                                Pub Date
                                            </label>
                                        </td>
                                        <td class="post-setting-field">
                                            <input id="pub-date" class="post-setting-date" type="text" value="<%= docs[0].time.day %>" placeholder="">
                                            <!--<span class="post-setting-calendar"></span>-->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </form>
                        <a class="delete" href="/delete/<%= user.username %>/<%= docs[0].time.day %>/<%= docs[0].title %>">
                            Delete This Post
                        </a>
                    </div>
                </section>
            </header>
            <section class="content-preview-content">
                <div class="wrapper">
                    <%- docs[0].publish %>

                </div>
            </section>
            
        </section>
    </section>
</main>

<script type="text/javascript" src="<%= site %>/javascripts/ajax.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/eventHandle.js"></script>
<script>
 var  cache = {};
    ajax.postdata("./andycall", {} , function(data){
        cache["docs"]  = data;
    });
 var postSettings = document.querySelector('.post-settings');
var contentList = document.querySelectorAll(".content-list-list");
    function swap(index){
        var docs = cache['docs'];


        if(document.querySelector('.wrapper')){
            document.querySelector('.wrapper').innerHTML = docs[index].publish;
        }
        for(var i = 0,len = contentList.length; i < len; i ++){
            contentList[i].className = "content-list-list";
        }

        this.className = "content-list-list " + "active";
        deleteButton();
    }

 function getAttribute(target,attr){
     var isIE = document.currentStyle,
             styleValue;

     if(isIE){
         if(attr == 'opacity'){
             var RegFilter = /[\,\)]?opacity=([0-9]+)/,
                     filter = target.currentStyle["filter"];
             styleValue = parseFloat(RegFilter.exec(filter)[1]);
         }
         styleValue = target.currentStyle[attr];
     }
     else{
         styleValue = window.getComputedStyle(target,null)[attr];
     }
     return styleValue;
 }
 function setAttribute(target,attr,value){
     var isIE = document.currentStyle,
             RegFilter = /(.+opacity=)([0-9]*)([\,\)]?.+)/;

     if(isIE && attr == 'opacity'){
         var filter = target.currentStyle['filter'],
                 StrArr = RegFilter.exec(filter),
                 strHead = StrArr[1],
                 strFooter = StrArr[3];
         target.style["filter"] = strHead + value * 100 + strFooter;
     }
     else{

         target.style[attr] = value;
     }
 }

    function deleteButton(){
        var name = document.querySelector('.author').innerHTML,
            title = document.querySelector('.entry-title').innerHTML,
            day = document.querySelector('.published').innerHTML;
        var reg = /\s+/g;
        name = name.replace(reg,"");
        title = title.replace(reg,"");
        day = day.replace(reg,"");
        document.querySelector('.delete').href = "/delete/" + name + "/" + day + "/" + title;
        document.querySelector('.post-edit').href = "/edit/" + name + "/" + day + "/" + title;
    }

    for(var i = 0,len = contentList.length; i < len; i ++){
        (function(index){
            on(contentList[index],'click',function(){
                swap.call(contentList[index],index);
            });
        })(i);
    }

on(postSettings,'click',function(){
    var menu = document.querySelector('.post-settings-menu');
    if(getAttribute(menu,'display') == 'block'){
        setAttribute(menu,'display','none');
    }
    else{
        setAttribute(menu,'display','block');
    }
});

</script>
<% include admin_foot %>