<!doctype html>
<html lang="en">
<head>
   <!-- 最基本的 -->
  <!-- ================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>AndyCall's blog</title>
	<meta name="description" content="Online System">
  <!-- <meta property="qc:admins" content="553244330776164131446654" /> -->
	<meta name="author" content="yHtree">
  <meta name="robots" content="all">
  <meta http-equiv="Content-Type" content="text/html" >
  <!-- 手机要用滴！ -->
  <!-- ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->
  <!-- ================================================== -->
  	
	<link rel="stylesheet" href="<%= site %>/stylesheets/screen.css">
	 <link rel="stylesheet" href="<%= site %>/stylesheets/normalize.min.css">
    <!-- <link rel="stylesheet" href="<%= site %>/stylesheets/main.css"> -->
   <link rel="stylesheet" href="<%= site %>/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="<%= site %>/stylesheets/rgs.css">
    <link rel="stylesheet" href="<%= site %>/stylesheets/TimeLine.css">
    <link rel="stylesheet" type="text/css" href="<%= site %>/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="<%= site %>/stylesheets/component.css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- 小图标
	================================================== -->
	<link rel="shortcut icon" href="<%= site %>/images/favicon.ico">
	<link rel="apple-touch-icon" href="<%= site %>/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= site %>/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= site %>/images/apple-touch-icon-114x114.png">
  <script type="text/javascript" src="<%= site %>/javascripts/common.js"></script>
  <script type="text/javascript" src="<%= site %>/javascripts/settings.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <% include infoBar %>
     <div id="perspective" class="perspective effect-airbnb"> 
      <div class="container">
            <div class="header-container">
                  <header class="wrapper clearfix">
                    <% include view %> 
                      <h1 class="title"><a href="/"><</span>Andycall's Blog<span class="right">/></span></a></h1>       
                  </header>
                  <button id="showMenu">ShowMenu</button>

            </div>





